{% extends 'MainBundle::base.html.twig' %}
{% block body %}
    <div class="main-inner" ng-controller="settingsController as ctrl" ng-init="ctrl.init()">
        <div class="container">
            <div class="span7">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-book"></i>
                        <h3>{{ 'settings.header' | trans }}</h3>
                    </div>
                    <div class="widget-content">
                        <label for="title">{{ 'settings.token-label' | trans }} :</label>
                        <span ng-if="ctrl.section.token">
                            {[{ ctrl.section.token }]}
                        </span>
                        <br/>
                        <br/>
                        <label for="drupal-code"> {{ 'settings.drupal-code-label' | trans }}</label>
                        <textarea rows="25" cols="50">
                        { "rules_send_push_events" : {
                            "LABEL" : "send push after events",
                            "PLUGIN" : "reaction rule",
                            "OWNER" : "rules",
                            "TAGS" : [ "content", "push" ],
                            "REQUIRES" : [ "rules", "rules_http_client" ],
                            "ON" : {
                                "node_insert--event" : { "bundle" : "event" }
                            },
                            "DO" : [
                                { "request_url" : {
                                    "USING" : {
                                        "url" : "http://mobilit.esnlille.fr/api/notifications/{[{ section.code_section }]}/sendFromDrupal",
                                        "headers" : "Content-type: application\/x-www-form-urlencoded",
                                        "method" : "POST",
                                        "data" : "title=ESN [node:content-type] \r\ncontent=[node:title] \r\ntoken={[{ section.token }]} \r\ntype=events"
                                    },
                                    "PROVIDE" : { "http_response" : { "http_response" : "HTTP data" } }
                                    }
                                }
                            ]}
                        },
                        { "rules_send_push_news" : {
                            "LABEL" : "send push after news",
                            "PLUGIN" : "reaction rule",
                            "OWNER" : "rules",
                            "TAGS" : [ "content", "push" ],
                            "REQUIRES" : [ "rules", "rules_http_client" ],
                            "ON" : {
                                "node_insert--news" : { "bundle" : "news" }
                            },
                            "DO" : [
                                { "request_url" : {
                                    "USING" : {
                                        "url" : "http://mobilit.esnlille.fr/api/notifications/{[{ section.code_section }]}/sendFromDrupal",
                                        "headers" : "Content-type: application\/x-www-form-urlencoded",
                                        "method" : "POST",
                                        "data" : "subject=ESN [node:content-type] \r\nmessage=[node:title] \r\ntoken={[{ section.token }]} \r\ntype=news"
                                    },
                                    "PROVIDE" : { "http_response" : { "http_response" : "HTTP data" } }
                                    }
                                }
                            ]}
                        },
                        { "rules_send_push_partners" : {
                            "LABEL" : "send push after partners",
                            "PLUGIN" : "reaction rule",
                            "OWNER" : "rules",
                            "TAGS" : [ "content", "push" ],
                            "REQUIRES" : [ "rules", "rules_http_client" ],
                            "ON" : {
                                "node_insert--partner" : { "bundle" : "partner" }
                            },
                            "DO" : [
                                { "request_url" : {
                                    "USING" : {
                                        "url" : "http://mobilit.esnlille.fr/api/notifications/{[{ ctrl.section.code_section }]}/sendFromDrupal",
                                        "headers" : "Content-type: application\/x-www-form-urlencoded",
                                        "method" : "POST",
                                        "data" : "subject=ESN [node:content-type] \r\nmessage=[node:title] \r\ntoken={[{ section.token }]} \r\ntype=partners"
                                    },
                                    "PROVIDE" : { "http_response" : { "http_response" : "HTTP data" } }
                                    }
                                }
                            ]}
                        }
                        </textarea>
                        <span ng-hide="ctrl.section.token">
                            <button class="btn btn-primary" ng-click="ctrl.generateToken()">{{ 'settings.token-button' | trans }}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
