<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{{ include('MainBundle::header.html.twig') }}

<body>
    {{ include('MainBundle::navbar.html.twig') }}
    {% if app.user %}
        {{ include('MainBundle::subnavbar.html.twig') }}
    {% endif %}

    {% block body %}{% endblock %}
</body>
