<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{{ include('MainBundle::header.html.twig') }}

<body>
    {{ include('MainBundle::navbar.html.twig') }}
    {% block body %}{% endblock %}
</body>
