# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    locale: en

    # CAS parameters
    cas_server: galaxy.esn.org
    cas_port: 443
    cas_path: /cas/

    #
    mail: donatienthorez@gmail.com

    # Google API for GCM notifications
    google_api_key: AIzaSyARq1v5hjOd16fSBin0DXmG-EX5CeYQS84
    google_api_website: https://android.googleapis.com/gcm/send

    # Mobilit token for the app
    mobilit_token: g6g2A52mGPPbKaaHmFjz

    # Base site url of the website
    site_url: http://127.0.0.1:8000
