services:
    main.notification.manager:
        class: MainBundle\Manager\NotificationManager
        arguments:
            - "@doctrine.orm.entity_manager"

    main.country.manager:
        class: MainBundle\Manager\CountryManager
        arguments:
            - "@doctrine.orm.entity_manager"

    main.guide.manager:
        class: MainBundle\Manager\GuideManager
        arguments:
            - "@doctrine.orm.entity_manager"

    main.section.manager:
        class: MainBundle\Manager\SectionManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@main.section.fetcher"

    main.regid.manager:
        class: MainBundle\Manager\RegIdManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@main.regid.creator"

    main.category.manager:
        class: MainBundle\Manager\CategoryManager
        arguments:
            - "@doctrine.orm.entity_manager"
