{% extends 'MainBundle::base.html.twig' %}
{% set readOnly = (is_granted('ROLE_ADMIN') == false and is_granted('ROLE_BOARD') == false) %}
{% block body %}
    <div class="main-inner" ng-controller="notificationController as ctrl" ng-init="ctrl.init()">
        <div class="container">
            {% if (readOnly == false) %}
            <div class="span5">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-book"></i>
                        <h3>{{ 'notifications.send-notification' | trans }}</h3>
                    </div>
                    <div class="widget-content">
                        <form method="post" name="sendNotificationsForm" ng-submit="ctrl.sendNotification()">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="control-group">
                                    <label for="subject" class="control-label">Sections</label>
                                    <div class="controls">
                                        <select chosen multiple
                                                data-placeholder="Choose sections"
                                                ng-model="ctrl.sectionsSelected"
                                                ng-options="section.name group by section.country.name for section in ctrl.sections"
                                                ng-disabled="editable">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="control-group">
                                <label for="subject" class="control-label">Title</label>
                                <div class="controls">
                                    <input class="span4" type="text" ng-model="ctrl.notification.title" required>
                                </div> <!-- /controls -->
                            </div>

                            <div class="control-group">
                                <label for="message" class="control-label">Content</label>
                                <div class="controls">
                                    <textarea class="span4" cols="50" rows="10" type="text" ng-model="ctrl.notification.content" required></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ 'notifications.send-notification' | trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="span5">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-book"></i>
                        <h3>{{ 'notifications.last-notifications' | trans }}</h3>
                    </div>
                    <div class="widget-content">

                        <ul class="news-items">
                            <li ng-repeat="notification in ctrl.notifications">
                                <div class="news-item-date">
                                    <span class="news-item-month">{[{ notification.sent_at | date:'dd/MM' }]}</span>
                                    <span class="news-item-month">{[{ notification.sent_at | date:'HH:mm' }]}</span>
                                </div>
                                <div class="news-item-detail">
                                    <span class="news-item-title">{[{ notification.title }]}</span>
                                    <p class="news-item-preview">{[{ notification.content }]}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
